In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv("StudentDepressionDataset.csv")

In [3]:
ds

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [4]:
ds.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [5]:
ds.tail()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [7]:
ds.shape

(27901, 18)

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27898 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.8+ MB

In [10]:
ds.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27898.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,3.139867,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,1.437347,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

In [11]:
ds['Age']

0        33.0
1        24.0
2        31.0
3        28.0
4        25.0
         ...
27896    27.0
27897    27.0
27898    31.0
27899    18.0
27900    27.0
Name: Age, Length: 27901, dtype: float64

In [13]:
ds[['Age', 'Work Pressure']]

        Age  Work Pressure
0      33.0            0.0
1      24.0            0.0
2      31.0            0.0
3      28.0            0.0
4      25.0            0.0
...     ...            ...
27896  27.0            0.0
27897  27.0            0.0
27898  31.0            0.0
27899  18.0            0.0
27900  27.0            0.0

[27901 rows x 2 columns]

In [14]:
ds.iloc[0]

id                                                   2
Gender                                            Male
Age                                               33.0
City                                     Visakhapatnam
Profession                                     Student
Academic Pressure                                  5.0
Work Pressure                                      0.0
CGPA                                              8.97
Study Satisfaction                                 2.0
Job Satisfaction                                   0.0
Sleep Duration                               5-6 hours
Dietary Habits                                 Healthy
Degree                                         B.Pharm
Have you ever had suicidal thoughts ?              Yes
Work/Study Hours                                   3.0
Financial Stress                                   1.0
Family History of Mental Illness                    No
Depression                                           1
Name: 0, dtype: object

In [15]:
ds.isnull()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27897,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27898,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27899,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27900,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
ds.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [17]:
ds.fillna(0)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [18]:
ds.sort_values(by='Age', ascending=False)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
9238,46602,Male,59.0,Nashik,Student,1.0,0.0,8.14,1.0,0.0,5-6 hours,Unhealthy,PhD,Yes,10.0,4.0,Yes,0
2909,14768,Female,58.0,Chennai,Student,4.0,0.0,8.58,1.0,0.0,7-8 hours,Healthy,Class 12,No,4.0,4.0,No,0
14819,74887,Female,56.0,Ludhiana,Student,3.0,0.0,7.94,5.0,0.0,5-6 hours,Unhealthy,BSc,No,1.0,5.0,Yes,0
13499,68441,Male,54.0,Agra,Student,5.0,0.0,9.60,2.0,0.0,More than 8 hours,Unhealthy,B.Ed,Yes,9.0,3.0,Yes,0
4386,22004,Female,51.0,Bhopal,Student,2.0,0.0,8.26,3.0,0.0,Less than 5 hours,Moderate,MBBS,Yes,5.0,5.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11349,57413,Male,18.0,Faridabad,Student,5.0,0.0,5.37,3.0,0.0,7-8 hours,Unhealthy,Class 12,Yes,6.0,5.0,Yes,1
27823,140235,Male,18.0,Ahmedabad,Student,2.0,0.0,8.04,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,Yes,5.0,3.0,No,1
11355,57441,Male,18.0,Kolkata,Student,3.0,0.0,7.80,3.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,0.0,1.0,Yes,1
11356,57453,Male,18.0,Thane,Student,3.0,0.0,5.85,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,Yes,2.0,4.0,No,1
5431,27408,Female,18.0,Thane,Student,3.0,0.0,6.37,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,5.0,3.0,No,1

In [22]:
ds[ds['Have you ever had suicidal thoughts ?'] == 'Yes']

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27894,140681,Male,23.0,Srinagar,Student,3.0,0.0,6.00,2.0,0.0,More than 8 hours,Healthy,MBBS,Yes,12.0,4.0,No,0
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,7-8 hours,Moderate,B.Com,Yes,6.0,1.0,Yes,0
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [29]:
ds

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,NaN,3.0,1.0,NaN,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,NaN,3.0,2.0,NaN,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,NaN,9.0,1.0,NaN,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,NaN,4.0,5.0,NaN,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,NaN,1.0,1.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,NaN,7.0,1.0,NaN,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,NaN,0.0,3.0,NaN,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,NaN,12.0,2.0,NaN,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,NaN,10.0,5.0,NaN,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,NaN,2.0,3.0,NaN,1

In [30]:
ds = pd.read_csv("StudentDepressionDataset.csv")

In [ ]:
ds['Have you ever had suicidal thoughts ?'] = ds['Have you ever had suicidal thoughts ?'].map({'Yes': 1, 'No': 0})
ds['Family History of Mental Illness'] = ds['Family History of Mental Illness'].map({'Yes': 1, 'No': 0})
print(ds[['Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']])

In [31]:
ds

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [32]:
ds['Have you ever had suicidal thoughts ?'] = ds['Have you ever had suicidal thoughts ?'].map({'Yes': 1, 'No': 0})
ds['Family History of Mental Illness'] = ds['Family History of Mental Illness'].map({'Yes': 1, 'No': 0})
print(ds[['Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']])

       Have you ever had suicidal thoughts ?  Family History of Mental Illness
0                                          1                                 0
1                                          0                                 1
2                                          0                                 1
3                                          1                                 1
4                                          1                                 0
...                                      ...                               ...
27896                                      1                                 1
27897                                      0                                 1
27898                                      0                                 0
27899                                      1                                 0
27900                                      1                                 1

[27901 rows x 2 columns]

In [33]:
ds = pd.read_csv("StudentDepressionDataset.csv")
ds

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [34]:
ds.iloc[0, 1]

'Male'

In [35]:
female_depressed = ds[(ds['Gender'] == 'Female') & (ds['Depression'] == 1)]
print(female_depressed)

           id  Gender   Age       City Profession  Academic Pressure  \
3          30  Female  28.0   Varanasi    Student                3.0
14        103  Female  19.0     Kalyan    Student                5.0
17        132  Female  20.0  Ahmedabad    Student                5.0
22        166  Female  25.0  Ahmedabad    Student                3.0
25        176  Female  20.0     Mumbai    Student                5.0
...       ...     ...   ...        ...        ...                ...
27875  140531  Female  23.0  Faridabad    Student                3.0
27883  140584  Female  22.0     Kanpur    Student                4.0
27886  140601  Female  22.0     Jaipur    Student                5.0
27891  140645  Female  28.0      Thane    Student                4.0
27899  140690  Female  18.0   Ludhiana    Student                5.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
3                0.0  5.59                 2.0               0.0
14               0.0  5.64                 5.0               0.0
17               0.0  7.25                 3.0               0.0
22               0.0  5.57                 3.0               0.0
25               0.0  8.58                 5.0               0.0
...              ...   ...                 ...               ...
27875            0.0  5.38                 4.0               0.0
27883            0.0  6.61                 2.0               0.0
27886            0.0  9.25                 4.0               0.0
27891            0.0  7.77                 3.0               0.0
27899            0.0  6.88                 2.0               0.0

          Sleep Duration Dietary Habits    Degree  \
3              7-8 hours       Moderate       BCA
14     Less than 5 hours       Moderate  Class 12
17             5-6 hours        Healthy  Class 12
22     More than 8 hours      Unhealthy       MSc
25             7-8 hours       Moderate  Class 12
...                  ...            ...       ...
27875          7-8 hours      Unhealthy       BSc
27883  More than 8 hours      Unhealthy     M.Com
27886  More than 8 hours      Unhealthy       BBA
27891  Less than 5 hours      Unhealthy       MSc
27899  Less than 5 hours        Healthy  Class 12

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
3                                       Yes               4.0
14                                      Yes               4.0
17                                      Yes              10.0
22                                      Yes              10.0
25                                       No               2.0
...                                     ...               ...
27875                                   Yes              12.0
27883                                   Yes               6.0
27886                                   Yes               8.0
27891                                    No               2.0
27899                                   Yes              10.0

       Financial Stress Family History of Mental Illness  Depression
3                   5.0                              Yes           1
14                  5.0                              Yes           1
17                  3.0                               No           1
22                  5.0                               No           1
25                  2.0                              Yes           1
...                 ...                              ...         ...
27875               4.0                               No           1
27883               5.0                               No           1
27886               3.0                               No           1
27891               5.0                               No           1
27899               5.0                               No           1

[7221 rows x 18 columns]

In [36]:
unique_cities = ds['City'].nunique()
print(f"Unique cities: {unique_cities}")

Unique cities: 52

In [37]:
unique_cities = ds['City'].unique()
print(unique_cities)

['Visakhapatnam' 'Bangalore' 'Srinagar' 'Varanasi' 'Jaipur' 'Pune' 'Thane'
 'Chennai' 'Nagpur' 'Nashik' 'Vadodara' 'Kalyan' 'Rajkot' 'Ahmedabad'
 'Kolkata' 'Mumbai' 'Lucknow' 'Indore' 'Surat' 'Ludhiana' 'Bhopal'
 'Meerut' 'Agra' 'Ghaziabad' 'Hyderabad' 'Vasai-Virar' 'Kanpur' 'Patna'
 'Faridabad' 'Delhi' 'Saanvi' 'M.Tech' 'Bhavna' 'Less Delhi' 'City' '3.0'
 'Less than 5 Kalyan' 'Mira' 'Harsha' 'Vaanya' 'Gaurav' 'Harsh' 'Reyansh'
 'Kibara' 'Rashi' 'ME' 'M.Com' 'Nalyan' 'Mihir' 'Nalini' 'Nandini'
 'Khaziabad']

In [38]:
average_cgpa = ds['CGPA'].mean()
print(f"Average CGPA: {average_cgpa}")

Average CGPA: 7.65610417189348

In [39]:
selected_data = ds.loc[:2, ['Age', 'CGPA']]
print(selected_data)

    Age  CGPA
0  33.0  8.97
1  24.0  5.90
2  31.0  7.03

In [40]:
ds = pd.read_csv("StudentDepressionDataset.csv")
ds

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [41]:
ds[(ds['Gender'] == 'Female') & (ds['Depression'] == 1)]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
14,103,Female,19.0,Kalyan,Student,5.0,0.0,5.64,5.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,4.0,5.0,Yes,1
17,132,Female,20.0,Ahmedabad,Student,5.0,0.0,7.25,3.0,0.0,5-6 hours,Healthy,Class 12,Yes,10.0,3.0,No,1
22,166,Female,25.0,Ahmedabad,Student,3.0,0.0,5.57,3.0,0.0,More than 8 hours,Unhealthy,MSc,Yes,10.0,5.0,No,1
25,176,Female,20.0,Mumbai,Student,5.0,0.0,8.58,5.0,0.0,7-8 hours,Moderate,Class 12,No,2.0,2.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27875,140531,Female,23.0,Faridabad,Student,3.0,0.0,5.38,4.0,0.0,7-8 hours,Unhealthy,BSc,Yes,12.0,4.0,No,1
27883,140584,Female,22.0,Kanpur,Student,4.0,0.0,6.61,2.0,0.0,More than 8 hours,Unhealthy,M.Com,Yes,6.0,5.0,No,1
27886,140601,Female,22.0,Jaipur,Student,5.0,0.0,9.25,4.0,0.0,More than 8 hours,Unhealthy,BBA,Yes,8.0,3.0,No,1
27891,140645,Female,28.0,Thane,Student,4.0,0.0,7.77,3.0,0.0,Less than 5 hours,Unhealthy,MSc,No,2.0,5.0,No,1
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1

In [42]:
ds['City'].nunique()

52

In [43]:
ds['City'].unique()

array(['Visakhapatnam', 'Bangalore', 'Srinagar', 'Varanasi', 'Jaipur',
       'Pune', 'Thane', 'Chennai', 'Nagpur', 'Nashik', 'Vadodara',
       'Kalyan', 'Rajkot', 'Ahmedabad', 'Kolkata', 'Mumbai', 'Lucknow',
       'Indore', 'Surat', 'Ludhiana', 'Bhopal', 'Meerut', 'Agra',
       'Ghaziabad', 'Hyderabad', 'Vasai-Virar', 'Kanpur', 'Patna',
       'Faridabad', 'Delhi', 'Saanvi', 'M.Tech', 'Bhavna', 'Less Delhi',
       'City', '3.0', 'Less than 5 Kalyan', 'Mira', 'Harsha', 'Vaanya',
       'Gaurav', 'Harsh', 'Reyansh', 'Kibara', 'Rashi', 'ME', 'M.Com',
       'Nalyan', 'Mihir', 'Nalini', 'Nandini', 'Khaziabad'], dtype=object)

In [44]:
ds['CGPA'].mean()

np.float64(7.65610417189348)

In [45]:
ds.loc[:2, ['Age', 'CGPA']]

    Age  CGPA
0  33.0  8.97
1  24.0  5.90
2  31.0  7.03

In [46]:
ds.loc[:2, ['Sleep Duration']]

      Sleep Duration
0          5-6 hours
1          5-6 hours
2  Less than 5 hours

In [47]:
ds.loc[ds['id'] == 2, 'Sleep Duration'] = "8-9 hours"
print(ds.loc[ds['id'] == 2])

   id Gender   Age           City Profession  Academic Pressure  \
0   2   Male  33.0  Visakhapatnam    Student                5.0

   Work Pressure  CGPA  Study Satisfaction  Job Satisfaction Sleep Duration  \
0            0.0  8.97                 2.0               0.0      8-9 hours

  Dietary Habits   Degree Have you ever had suicidal thoughts ?  \
0        Healthy  B.Pharm                                   Yes

   Work/Study Hours  Financial Stress Family History of Mental Illness  \
0               3.0               1.0                               No

   Depression
0           1

In [48]:
if (ds['id'] == 0).any():
    ds.loc[ds['id'] == 0, 'Sleep Duration'] = "8-9 hours"
    print(ds.loc[ds['id'] == 0])
else:
    print("No row with id == 0 found.")

No row with id == 0 found.

In [49]:
ds = pd.read_csv("StudentDepressionDataset.csv")

In [50]:
ds.iloc[[0,1]]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0

In [51]:
ds.iloc[[0,5],2]

0    33.0
5    29.0
Name: Age, dtype: float64

In [52]:
ds.loc[[0,5],['Profession','Degree']]

  Profession   Degree
0    Student  B.Pharm
5    Student      PhD

In [53]:
ds['City'].value_counts()

City
Kalyan                1570
Srinagar              1372
Hyderabad             1340
Vasai-Virar           1290
Lucknow               1155
Thane                 1139
Ludhiana              1111
Agra                  1094
Surat                 1078
Kolkata               1066
Jaipur                1036
Patna                 1007
Visakhapatnam          969
Pune                   968
Ahmedabad              951
Bhopal                 934
Chennai                885
Meerut                 825
Rajkot                 816
Delhi                  768
Bangalore              767
Ghaziabad              745
Mumbai                 699
Vadodara               694
Varanasi               685
Nagpur                 651
Indore                 643
Kanpur                 609
Nashik                 547
Faridabad              461
Saanvi                   2
Bhavna                   2
City                     2
Harsha                   2
Less Delhi               1
M.Tech                   1
3.0                      1
Less than 5 Kalyan       1
Mira                     1
Vaanya                   1
Gaurav                   1
Harsh                    1
Reyansh                  1
Kibara                   1
Rashi                    1
ME                       1
M.Com                    1
Nalyan                   1
Mihir                    1
Nalini                   1
Nandini                  1
Khaziabad                1
Name: count, dtype: int64

In [54]:
ds.loc[[1,4,7],['Degree','Sleep Duration']]

     Degree     Sleep Duration
1       BSc          5-6 hours
4    M.Tech          5-6 hours
7  Class 12  Less than 5 hours

In [55]:
ds.loc[1:8,['Degree','Sleep Duration']]

     Degree     Sleep Duration
1       BSc          5-6 hours
2        BA  Less than 5 hours
3       BCA          7-8 hours
4    M.Tech          5-6 hours
5       PhD  Less than 5 hours
6       BSc          7-8 hours
7  Class 12  Less than 5 hours
8      B.Ed          7-8 hours

In [56]:
ds.loc[1:8:2,['Degree','Sleep Duration']]

     Degree     Sleep Duration
1       BSc          5-6 hours
3       BCA          7-8 hours
5       PhD  Less than 5 hours
7  Class 12  Less than 5 hours

In [57]:
ds.loc[1:8:2,'City':'Sleep Duration']

,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration
1,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours
3,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours
5,Pune,Student,2.0,0.0,5.70,3.0,0.0,Less than 5 hours
7,Chennai,Student,2.0,0.0,8.04,4.0,0.0,Less than 5 hours

In [58]:
ds.set_index('City')

,id,Gender,Age,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
City,,,,,,,,,,,,,,,,,
Visakhapatnam,2,Male,33.0,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
Bangalore,8,Female,24.0,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
Srinagar,26,Male,31.0,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
Varanasi,30,Female,28.0,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
Jaipur,32,Female,25.0,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Surat,140685,Female,27.0,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
Ludhiana,140686,Male,27.0,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
Faridabad,140689,Male,31.0,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
Ludhiana,140690,Female,18.0,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
Patna,140699,Male,27.0,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [59]:
ds.set_index('id', inplace=True)

In [62]:
# 32. Set 'id' as the index (in-place) and display the DataFrame
ds.set_index('id', inplace=True)
print(ds.head())  # Display the first few rows to verify the index change

KeyError: "None of ['id'] are in the columns"

In [63]:
print(ds.columns)  # Display all column names

Index(['Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [67]:
ds = pd.read_csv("StudentDepressionDataset.csv")

In [66]:
ds.set_index('id', inplace=True)
print(ds.head())

    Gender   Age           City Profession  Academic Pressure  Work Pressure  \
id
2     Male  33.0  Visakhapatnam    Student                5.0            0.0
8   Female  24.0      Bangalore    Student                2.0            0.0
26    Male  31.0       Srinagar    Student                3.0            0.0
30  Female  28.0       Varanasi    Student                3.0            0.0
32  Female  25.0         Jaipur    Student                4.0            0.0

    CGPA  Study Satisfaction  Job Satisfaction     Sleep Duration  \
id
2   8.97                 2.0               0.0          5-6 hours
8   5.90                 5.0               0.0          5-6 hours
26  7.03                 5.0               0.0  Less than 5 hours
30  5.59                 2.0               0.0          7-8 hours
32  8.13                 3.0               0.0          5-6 hours

   Dietary Habits   Degree Have you ever had suicidal thoughts ?  \
id
2         Healthy  B.Pharm                                   Yes
8        Moderate      BSc                                    No
26        Healthy       BA                                    No
30       Moderate      BCA                                   Yes
32       Moderate   M.Tech                                   Yes

    Work/Study Hours  Financial Stress Family History of Mental Illness  \
id
2                3.0               1.0                               No
8                3.0               2.0                              Yes
26               9.0               1.0                              Yes
30               4.0               5.0                              Yes
32               1.0               1.0                               No

    Depression
id
2            1
8            0
26           0
30           1
32           0

In [68]:
ds = pd.read_csv("StudentDepressionDataset.csv")

In [70]:
ds.index

RangeIndex(start=0, stop=27901, step=1)

In [71]:
ds.loc[2]

id                                                      26
Gender                                                Male
Age                                                   31.0
City                                              Srinagar
Profession                                         Student
Academic Pressure                                      3.0
Work Pressure                                          0.0
CGPA                                                  7.03
Study Satisfaction                                     5.0
Job Satisfaction                                       0.0
Sleep Duration                           Less than 5 hours
Dietary Habits                                     Healthy
Degree                                                  BA
Have you ever had suicidal thoughts ?                   No
Work/Study Hours                                       9.0
Financial Stress                                       1.0
Family History of Mental Illness                       Yes
Depression                                               0
Name: 2, dtype: object

In [72]:
ds.loc[[2],['Degree','City']]

  Degree      City
2     BA  Srinagar

In [73]:
ds.reset_index(inplace=True)

In [74]:
ds.head()

,index,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [75]:
ds.query('Gender == "Male"').head()

,index,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
2,2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
5,5,33,Male,29.0,Pune,Student,2.0,0.0,5.70,3.0,0.0,Less than 5 hours,Healthy,PhD,No,4.0,1.0,No,0
6,6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,7-8 hours,Healthy,BSc,No,1.0,2.0,No,0
8,8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1

In [76]:
ds.query('Gender == "Male"')[['Age','Degree']].head()

    Age   Degree
0  33.0  B.Pharm
2  31.0       BA
5  29.0      PhD
6  30.0      BSc
8  28.0     B.Ed

In [77]:
ds[(ds['City'] == "Kalyan") & (ds['Degree'] == "BCA")][['Financial Stress']].head()

      Financial Stress
568                5.0
656                3.0
778                2.0
1191               2.0
1375               5.0

In [78]:
ci_ty = ['Kalyan','Jaipur','Delhi']
filter = ds['City'].isin(ci_ty)
ds.loc[filter,'City']

4        Jaipur
12       Kalyan
14       Kalyan
19       Kalyan
29       Kalyan
          ...
27854    Kalyan
27860     Delhi
27872    Jaipur
27879    Kalyan
27886    Jaipur
Name: City, Length: 3374, dtype: object

In [79]:
ds['Degree'].str.contains('MSc', na=False)

0        False
1        False
2        False
3        False
4        False
         ...
27896    False
27897     True
27898    False
27899    False
27900    False
Name: Degree, Length: 27901, dtype: bool